@model IEnumerable<Zdybanka.Models.Userfavorite>

@{
    ViewData["Title"] = "Улюблені події";
}

<div class="d-flex align-items-center mb-3">
    <h1 class="mb-0">Улюблені події</h1>
    <a asp-action="Create" class="btn btn-primary ms-3" title="Створити новий">+</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Fullname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
